.card_wrapper {
    margin-bottom: 6px;
}

.btn_detail {
    margin-bottom: 10px;
}

.btn_add {
    margin-bottom: 20px;
    margin-left: 20px;
}

.btn_back {
    margin-bottom: 20px;
    margin-left: 20px;
}